body {
    background-color: whitesmoke;
}

h2 {
    font-family: Avenir Next LT Pro Demi bold;
}

h1 {
    font-family: Old English Text MT;
    font-size: 40pt;
    text-align: center;
}

#wakehurst {
    text-align: center;
}

#wrapper1 {
    background-color: grey;
    padding: 10px;
}

#wrapper2 {
    padding: 10px;
    background-color: royalblue;
}

.left {
    padding: 5px;
}