body {
    background-color: whitesmoke;
}

h2 {
    font-family: Avenir Next LT Pro Demi bold, sans-serif;
}

h1 {
    font-family: Old English Text MT, sans-serif;
    font-size: 40pt;
    text-align: center;
    color: #3e4437;
}

p {
    font-family: Calibri, sans-serif;
}

#wakehurst {
    text-align: center;
}

.wrapper1 {
    background-color: #a2ac94;
    padding: 10px;
}

.wrapper2 {
    padding: 10px;
    background-color: #d4c9c1;
}

.left {
    padding: 5px;
    z-index: -1;
}
.stables {
    width: 50%;
    float: right;
    padding: 5px;
}

span {
    font-weight: bold;
    font-size: 14pt;
    text-decoration: underline;
}

.opening {
    text-transform: capitalize;
    color: blue;
    font-size: 13pt;    
}

nav {
	padding: 1rem;
}

nav > a {
	text-decoration: none;
	margin: 2rem;
    font-family: Old English Text MT, sans-serif;
    font-size: 20pt;
    text-align: center;
    color: #3e4437;
}

nav > a:hover {
	color: silver;
    background-color: #3e4437;
}

.woodlands {
    background-color: #fff;    
    width: 75%;
    padding: 15px;
    margin: 0 auto;
    margin-top: -40px;
    text-align: center;
}

footer {
	background-color: #404c24;
	padding: 1em;
	text-align: center;
    width: 100%;
    /*position: fixed;*/
    bottom: 0;
    right: 0;
	/*z-index: 3;*/
}

footer > span {
	color: silver;
}

footer > a {
	color: beige;
	text-decoration: none;
	padding: 0 15px;
	font-size: 0.8rem;
}

footer > p {
	color: silver;
}

/* map */
#map-wrapper {

    height: 300px;
    margin-bottom: 107px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}